body {
    font: normal 16pt Arial;
}

input {
    width: 150px;
    margin-top: 15px;
    font: normal 16pt Arial;
}

input[type=button] {
    cursor: pointer;
}

.res {
    width: 400px;
    height: 200px;
    border: 1px solid #000;
    margin-top: 15px;
    text-align: center;
}

.res p {
    margin-top: 10px;
}

table {
    width: 400px;
    margin-bottom: 20px;
}

table, th, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

thead {
    background: #ccc;
    color: #fff;
}

td {
    text-align: center;
}